.MainAirplanes {  
  height: 100vh;
  position: relative;
}
.MainAirplanes__title {
  position: absolute;
  height: 10%;
  width: 22%;
  top: 2%;
  left: 2%;
  z-index: 1;
  color: #ffdd93;
  font-weight: 700;
  font-size: 5vmax;  
}

.MainAirplanes__body {
  position: absolute;  
  height: 100%;
  width: 100%;  
}

.Airplanes__link {
  position: absolute;
  left: 25%;
  top:8%;
  color: rgb(224, 116, 116);
  text-decoration: none;  
  font-size: 1.8vmax;
  font-weight: 900;
  background: linear-gradient(to right, rgb(230, 35, 93), rgb(240, 17, 110) 50%, rgb(255, 255, 255) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
  overflow: hidden;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.1vmax;    
}
.Airplanes__link:hover {
  background-position: 0 100%;
}
@keyframes link {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.body__background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5f3ec; 
  z-index: -1;
}
.body__links{
  position:absolute;
  top: 30%;
  left: 10%;
  width: 30%;
  height: 30%;
  font-size: 1.8vmax;
  font-weight: 900;
  color:rgb(230, 35, 93);
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  display: block;
}
.body__link:link{  
  font-size: 1.8vmax;
  font-weight: 900;
  color:rgb(230, 35, 93);
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
}
.body__link:visited{
  color:rgb(230, 35, 93);
  text-decoration: none;
}

.body__slider{  
  position:absolute;
  left: 32.5%;
  top: 11%;  
  width: 35%;    
  border-radius: 35% 32% 36% 37%;    
}
.slider-wrapper{  
  display:flex;
  align-items: center;
  justify-content: center;
  height:72.5vh;  
  border-radius: 32% 32% 38% 37%;
}
.slider__img0{ 
  width: 100%;
  height: 100%;  
  border-radius: 32% 32% 38% 37%;   
}
.slider__img1{  
  width: 100%;
  height: 100%;  
  border-radius: 32% 32% 38% 37%;  
}
.slider__img2{  
  width: 100%;
  height: 100%;  
  border-radius: 32% 32% 38% 37%;  
}
.slider__img3{
  width: 100%;
  height: 100%;  
  border-radius: 32% 32% 38% 37%;  
}
.slider__img4{ 
  width: 100%;
  height: 100%;  
  border-radius: 32% 32% 38% 37%;  
}



@media screen and (max-width: 479px) {    
  .Airplanes__link {
    left: 60%;
    top: 5%;
    font-size: 3vmax;
  }
  .body__background{
    transform: scaleX(1.5)
  }
  .body__slider{
    left: 25%;
    width: 52vw;
  } 
  .body__links{
    margin:0;
    padding:0;
    top: 10%;
    left: 0%;
  }
}