.MainAirplanes {
  background-color:black;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 1000px;
  position: relative;
}
.MainAirplanes__title{
  position:absolute;
  height:10%; 
  width:100%; 
  top: 2%;
  left: 2%;
  z-index: 1;
  color:#ffdd93;
  font-weight:700;
  font-size: 5vw;    
}

.MainAirplanes__body{
  position:absolute;
  height:90%;
  width:100%;
}
.body__img1 {
  position:absolute;  
  width: 10%;
  height:10%;
  left: 10%;
  top: 10%;
  border:none;
  /* transform-origin은 해당 엘리먼트에 차후
  transform이 일어났을 때 기준점을 설정해줌 */
  animation-name: paperplane;
  animation-duration: 4s;
  animation-duration: leaner;  
  animation-direction: alternate;
  animation-fill-mode: forwards;
    
}
@keyframes paperplane{
  from {
    margin-left: 0%;        
    transform-origin: right;      
    transform: 
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(40deg);
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
  }
  50% {
    margin-left: 30%;
    margin-top: 10%;
    transform-origin: right;      
    transform: 
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(45deg);
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
  }
  
  to {
    margin-left: 60%;
    transform-origin: right;      
    transform: 
    rotateX(90deg)
    rotateY(0deg)
    rotateZ(0deg);    
  }
}

.body__img2 {
  position: absolute;  
  width: 20%;
  height: 20%;
  left: 40%;
  top: 40%;
  opacity: 0;  
  animation: oldplane;
  animation-delay: 4s;
  animation-duration: 2s;
}
@keyframes oldplane {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(4);
    opacity: 1;
  }
}


.body__img3-background {
  position:absolute;
  width: 100%;
  height: 90%;        
  opacity: 0; 
  transition-property: opacity;  
  animation: img3;
  animation-delay: 6s;
  animation-duration: 4s;  
}
@keyframes img3 {
  from {        
    opacity: 1;    
  }
  to {            
    opacity: 1;
  }
}

.body__img3-airliner{
  position:absolute;
  width: 20%;
  height: 20%; 
  top:50%;
  left:70%;
  z-index:1;      
  opacity: 0;     
  animation: img3-airliner;
  animation-delay: 7s;
  animation-duration: 3s;
}
@keyframes img3-airliner {
  from {
    opacity: 1;    
  }
  to {    
    opacity: 1;  
    top:10%;
    left:10%;  
  }
}
.body__img3-jet{
  position:absolute;
  width: 15%;
  height: 15%;  
  top:50%;
  left:10%;  
  z-index:1;      
  opacity: 0;   
  animation: img3-jet;
  animation-delay: 7s;
  animation-duration: 3s;
}
@keyframes img3-jet {
  from {
    opacity: 1;  
  }
  to {    
    opacity: 1;  
    top:10%;
    left:70%; 
  }
}

.body__img4-background {
  position:absolute;
  width: 100%;
  height: 60%;   
  top:51%;         
  opacity: 0;   
  animation: img4;
  animation-delay: 10s;
  animation-duration: 5s; 
  animation-fill-mode:forwards; 
}
@keyframes img4 {
  from {        
    opacity: 1;    
  }
  to {             
    opacity: 1;
  }
}
.body__img4-rocket{
  position:absolute;
  width: 10%;
  height: 10%;
  top:65%;
  left: 35%;
  transform:
  rotate(-80deg)
  scale(0.1);    
  opacity: 0;   
  animation-name: img4-rocket;
  animation-delay: 10s;
  animation-duration: 5s;
  animation-fill-mode:forwards;
}
@keyframes img4-rocket {
  from {
    opacity: 0;    
    transform:
    rotate(-40deg)   
  }
  to {    
    opacity: 1;        
    transform:
    rotate(-25deg)
    scale(1.5);
    top:30%;
    left:60%;
  }
}

.rocket__link{  
  position: absolute;
  width: 25%;
  height: 100%;
  top: 40%;
  left: 72%;  
  z-index:-1;
  font-size: 2vw;
  color:#ffdd93; 
  opacity: 0; 
  transform: rotate(-25deg);   
  animation-name: img4-rocket-link;
  animation-delay: 12s;
  animation-duration: 3s;
  animation-fill-mode:forwards;
}

@keyframes img4-rocket-link {
  from {
    opacity: 0;
    z-index:-1;        
  }
  to {    
    opacity: 1;            
    z-index:0;
  }
}