.MainAirplanes {
  background-color:black;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 1000px;
  position: relative;
}
.MainAirplanes__title{
  display:flex;
  justify-content: left;
}
.title__text {
  color:white;
  font-size: 50px;
}
.title__img1 {
  width: 100px;
  height: 100px;
  transform: rotate(40deg);
  background-image:url("./../../images/airplane1.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* transform-origin은 해당 엘리먼트에 차후
  transform이 일어났을 때 기준점을 설정해줌 */
  animation-name: paperplane;
  animation-duration: 4s;
  animation-duration: leaner;  
  animation-direction: alternate;
  animation-fill-mode: forwards;
    
}
@keyframes paperplane{
  from {
    margin-left: 0%;        
    transform-origin: right;      
    transform: 
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(40deg);
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
  }
  50% {
    margin-left: 30%;
    margin-top: 10%;
    transform-origin: right;      
    transform: 
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(45deg);
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
  }
  
  to {
    margin-left: 60%;
    transform-origin: right;      
    transform: 
    rotateX(90deg)
    rotateY(0deg)
    rotateZ(0deg);    
  }
}

.MainAirplanes__img2 {
  width: 300px;
  height: 100px;
  margin-left: 50%;
  margin-top: 10%;
  background-image:url("./../../images/airplane2.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  animation: oldplane;
  animation-delay: 4s;
  animation-duration: 2s;
}
@keyframes oldplane {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(4);
    opacity: 1;
  }
}

.MainAirplanes__img3 {
  width: 100%;
  height: 100%; 
  margin-top: -300px;
  position:absolute;
  z-index:1; 
  background-image:url("./../../images/airplane-bluesky.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  opacity: 0; 
  transition-property: opacity;  
  animation: img3;
  animation-delay: 6s;
  animation-duration: 4s;  
}
@keyframes img3 {
  from {    
    margin-top: -300px; 
    opacity: 1;    
  }
  to {        
    margin-top: -300px; 
    opacity: 1;
  }
}
.img3__airliner{
  width: 20%;
  height: 20%; 
  position:absolute;
  z-index:2;    
  background-image:url("./../../images/airplane33.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0; 
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  animation: img3-airliner;
  animation-delay: 7s;
  animation-duration: 3s;
}
@keyframes img3-airliner {
  from {
    opacity: 1;
    margin-left: 90%;
    margin-top: 100px;
  }
  to {    
    opacity: 1;
    margin-left: 0%;
    margin-top: -200px;
  }
}
.img3__jet{
  width: 10%;
  height: 10%;  
  position:absolute;
  z-index:2;    
  background-image:url("./../../images/airplane4.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0; 
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  animation: img3-jet;
  animation-delay: 7s;
  animation-duration: 3s;
}
@keyframes img3-jet {
  from {
    opacity: 1;
    margin-left: 0%;
    margin-top: 50px;
  }
  to {    
    opacity: 1;
    margin-left: 90%;
    margin-top: -200px;
  }
}

.MainAirplanes__img4 {
  width: 100%;
  height: 61%;   
  position:absolute;
  z-index:1; 
  background-image:url("./../../images/airplane-earth.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  opacity: 0; 
  transition-property: opacity;  
  animation: img4;
  animation-delay: 10s;
  animation-duration: 5s; 
  animation-fill-mode:forwards; 
}
@keyframes img4 {
  from {        
    opacity: 1;    
  }
  to {             
    opacity: 1;
  }
}
.img4__rocket{
  width: 43%;
  height: 40%; 
  position:absolute;
  transform:
  rotate(-45deg)
  scale(0.1);
  z-index:2;    
  background-image:url("./../../images/airplane-rocket.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0; 
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  animation: img4-rocket;
  animation-delay: 10s;
  animation-duration: 5s;
  animation-fill-mode:forwards;
}
@keyframes img4-rocket {
  from {
    opacity: 1;
    margin-left: 40%;
    margin-top: 0px;
    transform:
    rotate(-45deg)
    scale(0.1);
  }
  to {    
    opacity: 1;
    margin-left: 60%;
    margin-top: -300px;
    transform:
    rotate(-35deg)
    scale(0.3);
  }
}
.rocket__link {  
  position: absolute;
  margin-top: 500px;
  width: 140%;
  font-size: 100px;  
  color:white; 
  opacity: 1;
  transform: rotate(-5deg);
  animation: img4-rocket;
}