
.MainBatterys {  
  background-color: #f5f3ec; 
  z-index: -2; 
  height: 100vh;
  box-sizing: border-box;
  /* 해당 컴포넌트에서 최상단 요소를 relative로 잡기 */
  position: relative;
}


.MainBatterys__title {
  position: absolute;
  height: 10%;
  width: 100%;
  top: 1vh;
  left: 1vw;
  font-size: 5vmax;
  color: black;    
  font-family: "Cormorant Garamond", serif;  
  font-weight: 700;
}


.MainBatterys__body {
  position: absolute;
  height: 90%;
  width: 100vw;  
  top: 10%;
}

.body__contentsArea{
  position: absolute;
  height: 100%;
  width: 60%;    
}
.contentsArea__grid{
  position:absolute;
  width: 100%;
  height: 98%;
  left: 2%;  
  top: 2%;
  display:grid;    
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* align-content: center center;
  justify-content: center center;
  align-items: center center;
  justify-items: center center; */
}

.grid__item1{  
  position: relative;  
  width: 100%;
  height:100%;   
  display: flex;    
  justify-content: center;
}
.grid__item1:hover{
  background-color: rgba(0, 0, 0, 0.05);  

}
.grid__item2{  
  position: relative;
  width: 100%;
  height:100%; 
  display: flex;    
  justify-content: center; 
}

.grid__item2:hover{
  background-color: rgba(0, 0, 0, 0.05);  
}
.grid__item3{  
  position: relative;
  width: 100%;
  height:100%;
  display: flex;    
  justify-content: center;
}
.grid__item3:hover{
  background-color: rgba(0, 0, 0, 0.05);  
}
.grid__item4{  
  position: relative;
  width: 100%;
  height:100%;
  display: flex;    
  justify-content: center;
}
.grid__item4:hover{
  background-color: rgba(0, 0, 0, 0.05);  
}

.item1__title {  
  position: absolute;  
  width: 100%;
  height: 20%;    
  top: 60%;   
  font-size: 2.2vmax;  
  color: black;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}

.item2__title {  
  position: absolute; 
  width: 100%;
  height: 20%;   
  top: 60%;     
  font-size: 2.2vmax;  
  color: black;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif; 
  text-align: center;   
}
.item3__title {
  position: absolute; 
  width: 100%;
  height: 20%;    
  top: 60%;    
  font-size: 2.2vmax;  
  color: black;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  text-align: center;  
}
.item4__title {
  position:absolute;
  width: 100%;
  height: 20%;  
  top: 60%;         
  font-size: 2.2vmax;  
  color: black;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  text-align: center;  
}
.item1__text {  
  position: absolute;
  width: 60%;
  height: 30%;    
  top: 75%;      
  font-size: 1.6vmax;  
  color: rgb(90, 90, 90);
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;  
  text-align: center;
  word-break: keep-all;    
}
.item2__text {
  position:absolute;
  width:60%;
  height: 30%;    
  top: 75%;   
  font-size: 1.6vmax;  
  color: rgb(90, 90, 90);
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  word-break: keep-all;
}
.item3__text {
  position:absolute;
  width: 60%;
  height: 30%;    
  top: 75%;     
  font-size: 1.6vmax;  
  color: rgb(90, 90, 90);
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  word-break: keep-all;
}
.item4__text {
  position:absolute;
  width: 60%;
  height: 30%;    
  top: 75%;     
  font-size: 1.6vmax;  
  color: rgb(90, 90, 90);
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  word-break: keep-all;
}
.item1__pics {
  position: absolute;  
  width: 50%;
  height: 50%;        
  top: 8%;  
}
.item2__pics {
  position:absolute;
  width: 50%;
  height: 50%;        
  top: 8%;   
}
.item3__pics {
  position:absolute;
  width: 50%;
  height: 50%;        
  top: 8%;    
}
.item4__pics {
  position:absolute;
  width: 50%;
  height: 50%;        
  top: 8%;    
}



.body__videoArea{
  position: absolute;
  height: 100%;
  width: 40%;
  left: 60%;  
}
.MainBatterys__link{
  position: absolute;
  left: 35%;
  top: 5%;
  color: rgb(224, 116, 116);
  text-decoration: none;  
  font-size: 1.8vmax;
  font-weight: 900;
  background: linear-gradient(to right, rgb(230, 35, 93), rgb(240, 17, 110) 50%, rgb(5, 5, 5) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
  overflow: hidden;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.1vmax;   
}
.MainBatterys__link:hover {
  background-position: 0 100%;
}
@keyframes link {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.videoArea__partitionLine{
  position: absolute;
  height: 85%;
  top: 7.5%;
  left: 3%;
  border: rgba(0, 0, 0, 0.1) 0.2px solid;
}
.videoArea__outline{
  position:absolute;
  height: 100%;
  width: 100%;
}
.outline__upper1{
  position:absolute;  
  width: 35%;
  top: 8%;
  left: 10%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}
.outline__upper2{
  position:absolute;  
  width: 35%;
  top: 8%;
  left: 55%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}
.outline__upperVert1{
  position:absolute;  
  height: 10%;  
  top: 4%;
  left: 45%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}
.outline__upperVert2{
  position:absolute;  
  height: 5%;
  top: 6%;
  left: 55%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}
.outline__left{
  position:absolute;  
  height: 85%;
  top: 8%;
  left: 10%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}
.outline__right{
  position:absolute;  
  height: 85%;
  top: 8%;
  left: 90%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}
.outline__lower{
  position:absolute;  
  width: 80%;
  top: 92.8%;
  left: 10%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}

.videoArea__contents{
  position: absolute;
  width: 80%;
  height: 85%;
  left: 10%;   
  top: 8%;
}
.videoArea__contents::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background:rgb(194, 0, 0);
    z-index: -1;
    transition: transform 3s ease-in-out;    
}
.videoArea__contents:hover::after{
  transform: scaleY(1);
  background:rgb(0, 192, 0);
}
.contents__text{
  position: absolute;
  width: 100%;
  height: 30%;
  top: 15%;
  display:flex;
  justify-content: center;
}
.text__title{
  position: absolute;
  width: 80%;
  height: 80%;  
  font-size: 2.5vmax;  
  color: black; 
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  text-align: center;  
}
.text__desc{
  position: absolute;
  width: 60%;
  height: 20%;
  top: 25%;
  font-size: 1.7vw;  
  color: rgb(90, 90, 90);
  text-align: center;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  word-break: keep-all;
}

.contents__video-wrapper{
  position: absolute;
  width: 80%;
  height: 50%; 
  top: 30%;
}
.contents__video{
  position: absolute;
  width: 100%;
  height: 100%; 
  left: 12%;
}



@media screen and (max-width: 479px) {        

  .MainBatterys__body {
    height: 40%;    
  }
  .MainBatterys__link{    
    left: 60%;
    font-size: 3vmax;
  }
  .body__contentsArea{
    width: 80%;
    left: 5%;
  }
  .item1__pics{
    width:30vw;
    height:15vh;
  }
  .item2__pics{
    width:30vw;
    height:15vh;
  }
  .item3__pics{
    top: 5vh;
    width:30vw;
    height:15vh;
  }
  .item4__pics{
    top: 5vh;
    width:30vw;
    height:15vh;
  }
  .item1__title{    
    font-size: 18px;
    top: 17vh;
  }
  .item2__title{
    font-size: 18px;
    top: 17vh;
  }
  .item3__title{
    font-size: 18px;
    top: 20vh;
  }
  .item4__title{
    font-size: 18px;
    top: 20vh;
  }
  .item1__text{
    display:none;
  }
  .item2__text{
    display:none;
  }
  .item3__text{
    display:none;
  }
  .item4__text{
    display:none;
  }

  .body__videoArea{
    position: absolute;
    height: 100%;
    width: 70%;
    left: 10%; 
    top: 110%;    
  }
  .videoArea__partitionLine{
    display:none;
  }
  .text__title{
    font-size: 16px;
  }
  .text__desc{    
    font-size: 12px;
  }
}