
*{
  font-weight: 700;
}


.MainBatterys {  
  background-size: cover;  
  height: 100vh;
  box-sizing: border-box;
  /* 해당 컴포넌트에서 최상단 요소를 relative로 잡기 */
  position: relative;
}


.MainBatterys__title {
  position: absolute;
  height: 10%;

  width: 100%;
  font-size: 5vmax;
  color: #ffdd93;
  text-shadow: 0.1vw 0.1vw 0 black;
}


.MainBatterys__body {
  position: absolute;
  height: 90%;
  width: 100%;  
  top: 10%;
}

.body__contentsArea{
  position: absolute;
  height: 100%;
  width: 60%;    
}
.contentsArea__grid{
  position:absolute;
  width: 100%;
  height: 98%;
  left: 2%;  
  top: 2%;
  display:grid;    
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* align-content: center center;
  justify-content: center center;
  align-items: center center;
  justify-items: center center; */
}

.grid__item1{  
  position: relative;  
  width: 100%;
  height:100%;   
  display: flex;    
  justify-content: center;
}
.grid__item1:hover{
  background-color: rgba(0, 0, 0, 0.05);  

}
.grid__item2{  
  position: relative;
  width: 100%;
  height:100%; 
  display: flex;    
  justify-content: center; 
}

.grid__item2:hover{
  background-color: rgba(0, 0, 0, 0.05);  
}
.grid__item3{  
  position: relative;
  width: 100%;
  height:100%;
  display: flex;    
  justify-content: center;
}
.grid__item3:hover{
  background-color: rgba(0, 0, 0, 0.05);  
}
.grid__item4{  
  position: relative;
  width: 100%;
  height:100%;
  display: flex;    
  justify-content: center;
}
.grid__item4:hover{
  background-color: rgba(0, 0, 0, 0.05);  
}

.item1__title {  
  position: absolute;  
  width: 100%;
  height: 20%;    
  top: 5%;   
  font-size: 2vmax;  
  color: rgb(90, 90, 90);
  text-align: center;
}

.item2__title {  
  position: absolute; 
  width: 100%;
  height: 20%;   
  top: 5%;     
  font-size: 2vmax;  
  color: rgb(90, 90, 90); 
  text-align: center;   
}
.item3__title {
  position: absolute; 
  width: 100%;
  height: 20%;    
  top: 5%;    
  font-size: 2vmax;  
  color: rgb(90, 90, 90);
  text-align: center;  
}
.item4__title {
  position:absolute;
  width: 100%;
  height: 20%;  
  top: 5%;         
  font-size: 2vmax;  
  color: rgb(90, 90, 90);
  text-align: center;  
}
.item1__text {  
  position: absolute;
  width: 60%;
  height: 30%;    
  top: 20%;      
  font-size: 1.2vw;  
  color: rgb(175, 175, 175);  
  text-align: center;
  word-break: keep-all;    
}
.item2__text {
  position:absolute;
  width:60%;
  height: 30%;    
  top: 20%;   
  font-size: 1.2vw;  
  color: rgb(175, 175, 175);
  text-align: center;
  word-break: keep-all;
}
.item3__text {
  position:absolute;
  width: 60%;
  height: 30%;    
  top: 20%;     
  font-size: 1.2vw;  
  color: rgb(175, 175, 175);
  text-align: center;
  word-break: keep-all;
}
.item4__text {
  position:absolute;
  width: 60%;
  height: 30%;    
  top: 20%;     
  font-size: 1.2vw;  
  color: rgb(175, 175, 175);
  text-align: center;
  word-break: keep-all;
}
.item1__pics {
  position: absolute;  
  width: 50%;
  height: 50%;        
  top: 40%;  
}
.item2__pics {
  position:absolute;
  width: 50%;
  height: 50%;        
  top: 40%;   
}
.item3__pics {
  position:absolute;
  width: 50%;
  height: 50%;        
  top: 40%;    
}
.item4__pics {
  position:absolute;
  width: 50%;
  height: 50%;        
  top: 40%;    
}



.body__videoArea{
  position: absolute;
  height: 100%;
  width: 40%;
  left: 60%;  
}
.videoArea__partitionLine{
  position: absolute;
  height: 85%;
  top: 7.5%;
  left: 3%;
  border: rgba(0, 0, 0, 0.1) 0.2px solid;
}
.videoArea__outline{
  position:absolute;
  height: 100%;
  width: 100%;
}
.outline__upper1{
  position:absolute;  
  width: 35%;
  top: 8%;
  left: 10%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}
.outline__upper2{
  position:absolute;  
  width: 35%;
  top: 8%;
  left: 55%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}
.outline__upperVert1{
  position:absolute;  
  height: 10%;
  top: 4%;
  left: 45%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}
.outline__upperVert2{
  position:absolute;  
  height: 5%;
  top: 6%;
  left: 55%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}
.outline__left{
  position:absolute;  
  height: 85%;
  top: 8%;
  left: 10%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}
.outline__right{
  position:absolute;  
  height: 85%;
  top: 8%;
  left: 90%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}
.outline__lower{
  position:absolute;  
  width: 80%;
  top: 92.8%;
  left: 10%;
  border: rgba(0, 0, 0, 0.3) 0.2px solid;
}

