.MainClocks {
  background-color: #f5f3ec;
  height: 100%;
  width: 100%;
  position: relative;
}

.mainClock__title{
  font-family: "Cormorant Garamond", serif;
  font-size: 5vmax;
  font-weight: 400;
  position: absolute;
  top: 1vh;
  left: 6vw;
}

.MainClocks__text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 1.8vmax;
  line-height: 2.1vmax;
  position: absolute;
  text-align: center;
  margin-top: 19vh;
  left: 5.5vw;
}

.mainClock__clocks {
  display: flex;
  position: absolute;
  bottom: 7vw;
  left: 5vw;
}

.mainClock__sundial {
  width: 30vw;
}

.mainClock__wallClock {
  position: relative;
  left: 5vw;
  width: 25vw;
}

.mainClock__smartPhone {
  position: absolute;
  left: 5vw;
  top: -2vw;
  width: 17vw;
}

.MainClock__time {
  position: relative;
  top: 5vw;
  left: 8.2vw;
  color: white;
  font-size: 3.4vw;
}

.mainClock__date {
  position: relative;
  top: 6vw;
  left: 9vw;
  color: white;
  font-size: 1.5vw;
}

.mainClock__phoneBG {
  position: absolute;
  width: 14.6vw;
  height: 30vw;
  top: -1vw;
  left: 6.2vw;
  border-radius: 1.5vw;
}

.mainClock__link {
  position: absolute;
  color: white;
  top: 22vw;
  left: 8vw;
  height: 3vw;
  width: 11vw;
  font-size: 2vw;
  text-align: center;
  padding: 0.4vw;
  background-color: rgb(20, 20, 20, 0.5);
  border-radius: 0.5vw;
}

.mainClock__sunDialContainer {
  position: relative;
  top: 0px;
}

.mainClock__wallClockContainer {
  position: relative;
  top: 0px;
}

.mainClock__phoneContainer {
  position: relative;
  top: -1vw;
  left: 8vw;
}

@media screen and (max-width: 479px) {
  .mainClock__clocks {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
  }

  .MainClocks__text {
    position: absolute;
    top: -3%;
  }

  .mainClock__sunDialContainer {
    position: absolute;
    top: 32%;
    left: 32%
  }

  .mainClock__wallClockContainer {
    position: absolute;
    top: 55%;
    left: 30%;
  }

  .mainClock__phoneContainer {
    position: absolute;
    top: 80%;
    left: 35%;
  }
}