.MainClocks {
  background-color:blue;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 1000px;
  position: relative;
}

.MainClocks__text {
  color: white;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 350px;
}

.MainClock__time {
  display: flex;
  align-content: center;
  color: white;
  position: relative;
  font-size: 100px;
}