.MainFires {
  background-color: #f5f3ec;

  height: 100%;
  width: 100%;
  position: relative;
}

.MainFires__interFirePic {
  position: absolute;
  height: 48%;
  width: 34%;
  top: -18%;
  left: 10%;
}

.MainFires__readyFirePic {
  position: absolute;
  height: 40%;
  width: 27%;
  bottom: 5%;
  right: 5%;
}

.MainFires__danceFirePic {
  position: absolute;
  height: 50%;
  width: 55%;
  bottom: 17.7%;
  left: 0;
}

.MainFires__text {
  color: rgb(12, 12, 12);
  font-size: 5vmax;
  font-weight: 400;
  position: absolute;
  width: 8%;
  height: 7%;
  top: 19%;
  right: 34%;
  font-family: "Cormorant Garamond", serif;
}

.MainFires__link {
  position: absolute;

  top: 44%;
  color: rgb(224, 116, 116);
  text-decoration: none;
  right: 20%;
  font-size: 1.8vmax;
  font-weight: 900;
  letter-spacing: 0.1vmax;

  background: linear-gradient(to right, rgb(230, 35, 93), rgb(240, 17, 110) 50%, rgb(5, 5, 5) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
  overflow: hidden;

  font-family: "Cormorant Garamond", serif;
}

.MainFires__link:hover {
  background-position: 0 100%;
}

.MainFire__BCtext {
  position: absolute;
  color: rgb(0, 0, 0);
  right: 9%;
  top: 29.4%;
  font-size: 2.3vmax;
  font-weight: 400;

  font-family: "Cormorant Garamond", serif;
  width: 20%;
}

.MainFire__textBody {
  position: absolute;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1.4vmax;
  top: 36%;
  right: 18.7%;

  font-family: "Cormorant Garamond", serif;
}

@media screen and (max-width: 767px) {
  .MainFires__interFirePic {
    height: 28%;
    width: 60%;
    top: -10%;
    left: 3%;
  }

  .MainFire__BCtext {
    width: 26%;
  }

  .MainFires__danceFirePic {
    height: 27%;
    top: 30%;
  }

  .MainFire__textBody {
    right: 1%;
    top: 33%;
  }

  .MainFires__readyFirePic {
    height: 24%;
    width: 40%;
    top: 64%;
  }

  .MainFires__link {
    top: 42%;
    right: 10%;
    font-size: 2.2vmax;
  }

  .MainFire__textBody {
    right: 2.7%;
    top: 33%;
    font-size: 1.8vmax;
    width: 38%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .MainFires__interFirePic {
    height: 35%;
    width: 58%;
    top: -10%;
    left: 3%;
  }
  .MainFires__text {
    right: 24%;
    font-size: 6vmax;
  }

  .MainFires__danceFirePic {
    height: 27%;
    top: 30%;
  }

  .MainFire__textBody {
    right: 2.7%;
    top: 33%;
    font-size: 1.8vmax;
    width: 37%;
  }

  .MainFires__readyFirePic {
    height: 32%;
    width: 40%;
    top: 64%;
  }

  .MainFires__link {
    top: 40%;
    right: 10%;
    font-size: 2.6vmax;
  }
}
