.MainFistAxess {
  background-color: #f5f3ec;
  width: 100%;
  height: 100%;
  position: relative;
}

.MainFistAxes {
  width: 100%;
  height: 100%;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  position: absolute;
}

.MainFistAxes__text {
  color: rgb(0, 0, 0);
  font-family: "Cormorant Garamond", serif;
  font-size: 5vmax;
  font-weight: 400;
  position: absolute;
  width: 17%;
  left: 26%;
  margin-top: 7%;
}

.MainFistAxes__homoAcientPic {
  position: absolute;
  height: 50%;
  width: 14.5%;
  top: 22%;
  left: 8.3%;
}

.MainFistAxes__link {
  position: absolute;
  bottom: 0;
  top: 55%;
  color: rgb(224, 116, 116);
  text-decoration: none;
  left: 28.3%;
  font-size: 1.8vmax;
  font-weight: 900;
  background: linear-gradient(to right, rgb(230, 35, 93), rgb(240, 17, 110) 50%, rgb(5, 5, 5) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
  overflow: hidden;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.1vmax;
}

.MainFistAxes__link:hover {
  background-position: 0 100%;
}

@keyframes link {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.MainFistAxes__BCtext {
  position: absolute;
  left: 26.2%;
  top: 28%;
  font-size: 2.3vmax;
  font-weight: 500;
  color: rgb(0, 0, 0);

  font-family: "Cormorant Garamond", serif;
}

.MainFistAxes__textBody {
  position: absolute;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1.4vmax;
  left: 26.5%;
  top: 36%;
  font-family: "Cormorant Garamond", serif;
  line-height: 2.1vmax;
}

.MainFistAxes__FistAxePicOne {
  position: absolute;
  width: 17%;
  height: 43%;

  z-index: 1;
  bottom: 5%;
  right: 17.8%;
}
.MainFistAxes__FistAxePicTwo {
  position: absolute;
  height: 43%;
  width: 17%;
  bottom: 31%;
  right: 5%;
}

@media screen and (max-width: 479px) {
  .MainFistAxes__homoAcientPic {
    display: none;
  }

  .MainFistAxes__text {
    width: 40%;
    left: 7%;
    top: 7%;
  }

  .MainFistAxes__BCtext {
    left: 9%;
  }

  .MainFistAxes__textBody {
    left: 9%;
    width: 50%;
  }

  .MainFistAxes__FistAxePicOne,
  .MainFistAxes__FistAxePicTwo {
    height: 30%;
    width: 30%;
  }
  .MainFistAxes__FistAxePicOne {
    top: 51%;
  }
  .MainFistAxes__FistAxePicTwo {
    top: 30%;
  }

  .MainFistAxes__link {
    top: 60%;
  }
}
