.MainGlassess {
  background-color: #f5f3ec;
  height: 100%;
  width: 100%;
  position: relative;
}

.mainGlasses__title{
font-family: "Cormorant Garamond", serif;
font-size: 5vmax;
font-weight: 400;
position: absolute;
top: 1vh;
left: 6vw;
}

.MainGlassess__text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 1.8vmax;
  line-height: 2.1vmax;
  position: absolute;
  margin-top: 20vh;
  left: 5vw;
  width: 80%;
}

.mainGlasses__glassesContainer {
  display: flex;
  justify-content: space-between;
}

.mainGlasses__temp_L {
  display: none;
  justify-content: center;
  padding: 40px;
  position: absolute;
  left: 123px;
  width: 670px;
  background: url("../../../TestPic/glassesBG.jpg") no-repeat;
  background-size: 277%;
  background-position: -128px -190px;
  border: 5px solid rgb(212, 203, 146);
  height: 670px;
  border-radius: 50%;
  top: 188px;
  transition-property: top, background-position;
  transition-duration: 1.25s;
}

.mainGlasses__temp_2_L {
  display: flex;
  justify-content: center;
  padding: 40px;
  position: absolute;
  left: 123px;
  width: 670px;
  background: url("../../../TestPic/glassesBG.jpg") no-repeat;
  background-size: 277%;
  background-position: -128px -900px;
  border: 5px solid rgb(212, 203, 146);
  min-height: 670px;
  border-radius: 50%;
  top: 898px;
  transition-property: top, background-position;
  transition-duration: 1.25s;
}

.mainGlasses__temp_R {
  display: flex;
  justify-content: center;
  padding: 40px;
  position: absolute;
  left: 1040px;
  width: 670px;
  background: url("../../../TestPic/glassesBG.jpg") no-repeat;
  background-size: 277%;
  background-position: -1035px -190px;
  border: 5px solid rgb(212, 203, 146);
  height: 670px;
  border-radius: 50%;
  top: 188px;
  transition-property: top, background-position;
  transition-duration: 1.25s;
}

.mainGlasses__temp_2_R {
  display: flex;
  justify-content: center;
  padding: 40px;
  position: absolute;
  left: 1040px;
  width: 670px;
  background: url("../../../TestPic/glassesBG.jpg") no-repeat;
  background-size: 277%;
  background-position: -1035px -900px;
  border: 5px solid rgb(212, 203, 146);
  min-height: 670px;
  border-radius: 50%;
  top: 898px;
  transition-property: top, background-position;
  transition-duration: 1.25s;
}

.mainGlasses__linkContainer {
  position: absolute;
  left: 69%;
  top: 45%;
  transition-property: top;
  transition-duration: 1.25s;
}

.mainGlasses__linkContainer_2 {
  position: absolute;
  left: 80%;
  top: 918px;
  transition-property: top;
  transition-duration: 1.25s;
}

.mainGlasses__glasses {
  display: flex;
  width: 80%;
  position: absolute;
  left: 8vw;
  bottom: 5%;
}

.wrapper h1 span {
  position: absolute;
  font-size: 50px;
}

.wrapper {
  display:none;
}

.mainGlasses__link {
  position: absolute;
  right: 15%;
  top: 35%;
  color: rgb(224, 116, 116);
  text-decoration: none;
  font-size: 1.8vmax;
  font-weight: 900;
  background: linear-gradient(to right, rgb(85, 230, 150), rgb(85, 230, 150) 50%, rgb(5, 5, 5) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
  overflow: hidden;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.1vmax;
}

.mainGlasses__link:hover {
  background-position: 0 100%;
}

