.MainGunpowders {
  background-color: #f5f3ec;
  height: 100%;
  width: 100%;
  position: relative;
}

.mainGunpowder__title{
  font-family: "Cormorant Garamond", serif;
  font-size: 5vmax;
  font-weight: 400;
  position: absolute;
  top: 3vh;
  left: 6vw;
}

.mainGunpowder__img1 {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 60%;
  height: 60%;
}

.MainGunpowders__text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 1.8vmax;
  line-height: 2.1vmax;
  position: absolute;
  margin-top: 22vh;
  left: 5.5vw;
  width: 60%;
}

.mainGunpowder__link {
  position: absolute;
  bottom: 0;
  top: 39%;
  color: rgb(224, 116, 116);
  text-decoration: none;
  left: 48.3%;
  font-size: 1.8vmax;
  font-weight: 900;
  background: linear-gradient(to right, red, red 50%, rgb(5, 5, 5) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
  overflow: hidden;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.1vmax;
}

.mainGunpowder__link:hover {
  background-position: 0 100%;
}
