.MainGunpowders {
  background-color: #f5f3ec;
  height: 100%;
  width: 100%;
  position: relative;
}

.mainGunpowder__title{
  font-family: "Cormorant Garamond", serif;
  font-size: 5vmax;
  font-weight: 400;
  position: absolute;
  top: 1vh;
  left: 6vw;
}

.MainGunpowders__text {
  color: white;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 350px;
}

.mainGunpowder__link {
  position: absolute;
  font-size: 3vmax;
}
