
.MainLightBulbs {  
  height: 100vh;
  position: relative;     

}

.MainLightBulbs__body__background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.body__title {
  position: absolute;
  height: 10%;
  width: 90%;
  top: 1vh;
  left: 1vw;
  font-size: 5vmax;
  color: white;    
  font-family: "Cormorant Garamond", serif;  
  font-weight: 700;   
  z-index:1;
}
.title__switchBtn {
  position: absolute;
  width: 10%;
  height: 180%;
  left: 23%;
  top: -10%;
  cursor: pointer;
  z-index:1;
}
.title__link {
  position: absolute;
  left: 37%;
  top: 50%;  
  color: rgb(224, 116, 116);
  text-decoration: none;  
  font-size: 1.8vmax;
  font-weight: 900;
  background: linear-gradient(to right, rgb(230, 35, 93), rgb(240, 17, 110) 50%, rgb(255, 255, 255) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
  overflow: hidden;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.1vmax;   
}
.title__link:hover {
  background-position: 0 100%;
}
@keyframes link {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title__bulbClick__msg{
  position: absolute;
  top: 60%;
  left: 26%;
  color: red;
  font-size: 1.8vmax;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;    
  animation-name: blink-on;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.body__background {  
  width: 100%;
  height: 100%;
}
.background__texts-off {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffdd93;
  animation-name: blink-off;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.background__texts-on {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffdd93;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.text1 {
  position: absolute;
  width: 40%;
  top: 30%;
  left: 8%;
  color: #ffdd93;
  font-size: 2vmax;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;  
}
.text2 {
  position: absolute;
  width: 25%;
  top: 65%;
  left: 20%;
  color: #ffdd93;
  font-size: 2vmax;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;  
}
.text3-img {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 25%;
  left: 70%;
  opacity: 0.7;
  border-radius: 10%;
  color: #ffdd93;
}
.text3 {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 55%;
  left: 70%;
  border-radius: 10%;
  color: #ffdd93;
  font-size: 1.4vmax;
  font-weight: 700;  
}
@keyframes blink-off {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}
@keyframes blink-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media screen and (max-width: 479px) {  
  .title__switchBtn{
    top: -25%;
    left: 45%;
    width: 20%;
  }  
  .title__bulbClick__msg{
    font-size: 22px;
    top:40%;
    left: 50%;
  }
  
  .title__link{
    left: 70%;
    font-size: 3vmax;
  }

  .text1{
    left: 4%;
    font-size: 24px;
  }
  .text2{
    width: 40%;
    left: 6%;
    font-size: 24px;
  }
  .text3{    
    left: 70%;
    width: 25%;
    font-size: 16px;
  }
}