.MainSteamEngines {
  background-color: #f5f3ec;
  height: 100%;
  width: 100%;
  position: relative;
}

.mainSteamEngine__title{
  font-family: "Cormorant Garamond", serif;
  font-size: 5vmax;
  font-weight: 400;
  position: absolute;
  top: 1vh;
  left: 6vw;
}

.MainSteamEngines__text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 1.8vmax;
  line-height: 2.1vmax;
  position: absolute;
  margin-top: 20vh;
  left: 5vw;
  width: 80%;
}

.mainSteamEngine__train {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 80%;
}

.mainSteamEngine__railRoad {
  position: absolute;
  top: 24%;
  width: 80%;
  height: 80%;
}

.mainSteamEngine__img {
  position: absolute;
  width: 55%;
  height: 55%;
  top: 40%;
  left: 10%;
}

.mainSteamEngine__smoke {
  position: absolute;
  width: 30%;
  height: 30%;
  left: 17%;
  top: 11%;
}

.mainSteamEngine__link {
  position: absolute;
  right: 15%;
  top: 35%;
  color: rgb(224, 116, 116);
  text-decoration: none;
  font-size: 1.8vmax;
  font-weight: 900;
  background: linear-gradient(to right, rgb(151, 151, 151), rgb(151, 151, 151) 50%, rgb(5, 5, 5) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
  overflow: hidden;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.1vmax;
}

.mainSteamEngine__link:hover {
  background-position: 0 100%;
}

@media screen and (max-width: 479px) {
  .mainSteamEngine__train {
    width: 100%;
    height: 80%;
  }

  .mainSteamEngine__railRoad {
    width: 100%;
    height: 100%;
  }

  .mainSteamEngine__img {
    width: 90%;
    height: 55%;
    top: 60%;
  }

  .mainSteamEngine__smoke {
    top: 31%;
    left: 38%;
  }
}