.MainVaccines {
  background-color: #f5f3ec;
  height: 100%;
  width: 100%;
  position: relative;
}

.mainVaccine__title{
  font-family: "Cormorant Garamond", serif;
  font-size: 5vmax;
  font-weight: 400;
  position: absolute;
  top: 1vh;
  left: 6vw;
}

.MainVaccines__text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 1.8vmax;
  line-height: 2.1vmax;
  position: absolute;
  margin-top: 20vh;
  left: 5vw;
  width: 80%;
}

.mainVaccine_armContainer {
}

.mainVaccine_arm {
  transform: rotate(-40deg);
  position: absolute;
  width: 10%;
  height: 80%;
  top: 10%;
}

.mainVaccine_arm_mod {
  display: none;
  position: relative;
  transform: rotate(-40deg);
}

.mainVaccine_syringe {
  position: absolute;
  width: 7%;
  top: 30vh;
  left: 60%;
  transition-property: width height top left;
  transition-duration: 0.15s;
}

.mainVaccine_syringe:hover {
  transition-property: width height top left;
  transition-duration: 0.15s;
  cursor: pointer;
}



.mainVaccine__link {
  position: absolute;
  right: 15%;
  top: 35%;
  color: rgb(224, 116, 116);
  text-decoration: none;
  font-size: 1.8vmax;
  font-weight: 900;
  background: linear-gradient(to right, rgb(64, 131, 255), rgb(64, 131, 255) 50%, rgb(5, 5, 5) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
  overflow: hidden;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.1vmax;
}

.mainVaccine__link:hover {
  background-position: 0 100%;
}

@media screen and (max-width: 479px) {
  .mainVaccine__title {
    top: 10%;
  }

  .MainVaccines__text {
    top: 5%;
  }

  .mainVaccine__link {
    top: 45%;
  }

  .mainVaccine_arm {
    position: absolute;
    top: 20%;
    width: 30%;
  }

  .mainVaccine_syringe {
    position: absolute;
    top: 35vh;
    width: 13%;
    left: 30%;
  }
}