.MainVaccines {
  background-image:url("../../../TestPic/vaccine_BG2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 1000px;
  max-height: 1000px;
  position: relative;
  display: flex;
}

.MainVaccines__text {
  color: white;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 350px;
}

.mainVaccine_armContainer {
  display:flex;
  position: relative;
  left: 70px;
  top: 70px;
}

.mainVaccine_arm {
  width: 300px;
  transform: rotate(-40deg);
}

.mainVaccine_arm_mod {
  position: relative;
  left: -300px;
  width: 300px;
  transform: rotate(-40deg);
}

.mainVaccine_syringe {
  position: relative;
  left: 700px;
  top: 100px;
  width: 210px;
  height: 500px;
  transition-property: width height top left;
  transition-duration: 0.15s;
}

.mainVaccine_syringe:hover {
  position: relative;
  left: 695px;
  top: 95px;
  width: 220.5px;
  height: 525px;
  transition-property: width height top left;
  transition-duration: 0.15s;
  cursor: pointer;
}