.MainWheels {
  background-color: #f5f3ec;
  width: 100%;
  height: 100%;
  position: relative;
}

.MainWheels__text {
  color: black;
  font-size: 5vmax;
  font-weight: 400;
  position: absolute;
  width: 10%;
  height: 10%;
  left: 18%;
  top: 6%;
  font-family: "Cormorant Garamond", serif;
}

.MainWheels__WheelPic {
  position: absolute;
  height: 44%;
  bottom: 6%;
  left: 8%;
}

.MainWheels__link {
  position: absolute;
  bottom: 0;
  top: 46%;
  color: rgb(221, 193, 146);
  text-decoration: none;
  left: 37%;
  font-size: 1.8vmax;
  font-weight: 900;
  background: linear-gradient(to right, rgb(230, 35, 93), rgb(240, 17, 110) 50%, rgb(5, 5, 5) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
  overflow: hidden;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.1vmax;
}

.MainWheels__link:hover {
  background-position: 0 100%;
}

.MainWheels__BCtext {
  position: absolute;
  color: #070707;
  left: 31%;
  top: 21%;
  font-size: 2.3vmax;
  font-weight: 500;
  text-shadow: 0px 0px 30px rgb(245, 242, 240);
  font-family: "Cormorant Garamond", serif;
}

.MainWheels__textBody {
  position: absolute;
  color: #050505;
  font-weight: 500;
  font-size: 1.4vmax;
  top: 30%;
  left: 4%;
  text-shadow: 0px 0px 30px rgb(245, 239, 238);
  font-family: "Cormorant Garamond", serif;
  z-index: 1;
}

@keyframes breakLetterUp {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  50% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px) translateY(-200px);
    transform: translateZ(300px) translateY(-200px);
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
}
@media screen and (max-width: 385px) {
  .MainWheels__text {
    top: 0;
  }
  .MainWheels__BCtext {
    top: 9.4%;
    left: 23%;
  }
  .MainWheels__textBody {
    top: 16%;
  }
  .MainWheels__link {
    top: 30%;
    left: 60%;
  }
  .MainWheels__WheelPic {
    height: 33%;
    top: 34%;
    left: 3%;
  }
}
