.Details {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}

.Details__title {
  width: 100%;
  font-size: 4.8vmax;
  font-weight: 600;
  padding-top: 200px;
  letter-spacing: 2px;
  font-family: "Cormorant Garamond", serif;
}

.Details__body {
  display: block;
  justify-content: center;
  padding-top: 80px;
  height: auto;
  margin-bottom: 81px;
}

.Details__picArea {
  width: 50%;
  height: 50%;
  margin-right: 48%;
  margin-bottom: 94px;
}

.Details__pic {
  height: 360px;
  width: 410px;
  border-radius: 20px;
}

.Details__video {
  position: absolute;
  right: 15%;
  top: 38.7%;
  width: 640px;
  height: 360px;
}
.Details__video iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1560px) {
  .Details__pic {
    margin-left: 35%;
  }
  .Details__video {
    position: unset;
    margin-bottom: 3%;
  }
}

.Details__textArea {
  width: 100%;
  height: 100%;
}

.Details__text__birth,
.Details__text__make,
.Details__text__use {
  font-weight: 600;
  font-size: 1.6vmax;
  font-family: "Cormorant Garamond", serif;
}

.Details__text {
  width: 73%;
  height: 100%;
  text-align: left;
  font-size: 1.2vmax;
  background-color: white;
  color: black;
  font-family: "Cormorant Garamond", serif;
}

li {
  list-style: none;
}

.Details__commentsTitle {
  font-size: 3vmax;
  font-weight: 600;
  margin-top: 10%;
  margin-bottom: 1%;
  color: black;
  font-family: "Cormorant Garamond", serif;
}

.Details__comments {
}

.Details__commentsArea {
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  width: 70%;
  height: 100%;
  text-align: left;
  padding: 3% 5%;
  margin-left: 24px;
  margin-bottom: 97px;
}

.Details__comment {
  margin-bottom: 3%;
  color: rgb(59, 38, 175);
}

.Details__comment::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #bcbcbc;
  margin: 20px auto;
}

.Details__commentsHead {
  width: 67%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Details__commentPic {
  height: 150px;
}

.Details__commentTextEdit {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.Details__editAreas {
  position: relative;
  margin-top: 300px;
  background-color: white;
  height: 430px;
  width: 1100px;
  border: 2px solid black;
  border-radius: 20px;
}

.Details__editAreas__PicView {
  position: absolute;
  left: 50px;
  top: 82px;
  height: 278px;
  width: 360px;
}

.Details__editAreas__fileSearch {
  position: absolute;
  left: 466px;
  top: 96px;
}

.Details__editAreas__fileSearch label {
  padding: 0.5em 0.75em;
  color: rgb(88, 88, 88);
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #b9763f;
  border-radius: 0.25em;
}

.Details__editAreas__fileSearch input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.Details__editAreas__input {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 30px;
  top: 138px;
}

.Details__editAreas__titleInput,
.Details__editAreas__textInput {
  width: 600px;
  height: 40px;
  margin-bottom: 32px;
}

.Details__editAreas__btn {
  position: absolute;
  display: flex;
  bottom: 84px;
  right: 300px;
}

.Details__editAreas__submitBtn,
.Details__editAreas__submitBtnClose {
  padding: 0.5em 0.75em;
  color: rgb(88, 88, 88);
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #b9763f;
  border-radius: 0.25em;
}
.Details__editAreas__submitBtn {
  margin-right: 13px;
}

.Details__commentTextAreas__title {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.1vmax;
  font-weight: 500;
  color: #272525;
  margin-bottom: 1%;
}
.Details__commentPic {
  margin-bottom: 2%;
  height: 13%;
  width: 33%;
  border-radius: 20px;
}

.Details__commentTextAreas__username {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 1.5vmax;
  color: #474646;
  margin-bottom: 10px;
}
.Details__commentTextAreas__text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 1.3vmax;
  color: #474646;
  margin-bottom: 30px;
}

.Details__commentToolEdit {
  margin-right: 9px;
}

.Details__commentToolEdit,
.Details__commentToolDelete {
  padding: 3px 7px;
  color: rgb(88, 88, 88);
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #b9763f;
  border-radius: 0.25em;
  font-family: "Cormorant Garamond", serif;
  font-size: 1vmax;
  min-width: 10px;
  height: 2%;
}

@media screen and (max-width: 860px) {
  .Details__pic {
    position: relative;

    left: -20%;
  }

  .Details__video iframe {
    margin-left: 25px;
  }

  .Details__video {
    position: unset;

    width: 426px;
    height: 240px;
  }

  .Details__title {
    font-size: 60px;
    margin-left: 44px;
  }
}

@media screen and (max-width: 385px) {
  .Details__pic {
    position: relative;
    width: 160%;
    left: -9%;
  }

  .Details__title {
    font-size: 60px;
    margin-left: 15px;
  }

  .Details__video {
    position: unset;
    width: 384px;
    height: 218px;
  }
}
