@import "SignUp.css";
@import "Nav.css";
@import "SignIn.css";
@import "Footer.css";
@import "Detail.css";
@import "MainPage.css";
@import "./MainInventions/InventionCssLink.css";
@import "Mypage.css";
@import "WritePage.css";
@import "ScrollTracker.css";
@import "LogOut.css";

@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@300;700&display=swap");
/* DetailPageFont */
@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
/* fistAxeFont */
@import url("https://fonts.googleapis.com/css2?family=Ranchers&family=Yeon+Sung&display=swap");
/* fireFont */
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Texturina:wght@900&display=swap");
/* WritingSystemFont */
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
/* WheelFont */
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Monoton&family=Rock+Salt&display=swap");
/* CondomFont */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Single+Day&display=swap");
/* MainPageFont */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
