* {
  box-sizing: border-box;
}

.MainPages {
  height: 100%;
  width: 100%;
  display: block;
  padding-top: 100px;
}

.MainPages__welcomePoint {
  background-image: url("../images/MainPage/Museum.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: background-position 0.25s;
}

.MainPages__welcomePointText {
  color: #000000;
  font-size: 3.5vmax;
  font-weight: 900;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 11%;
  text-shadow: 0px 0px 20px white;
  animation: appearTitle 3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.1em;
}

.MainPages__welcomePointSubText {
  color: #000000;
  font-size: 1.7vmax;
  font-weight: 500;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 17%;
  margin-left: 0.8%;
  text-shadow: 0px 0px 20px white;
  letter-spacing: 0.1em;
  font-family: "Cormorant Garamond", serif;
  animation: appearTitle 3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@keyframes appearTitle {
  0% {
    letter-spacing: 0.7em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes appearTitleM {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.scroll__tracker {
  border: 1px solid red;
  width: 600px;
  height: 100px;
  overflow: scroll;
}

.LinkedDetail {
  color: white;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 430px;
}

/* .MainPages__ScrollSign {
  width: 100%;
  display: flex;
  justify-content: center;
} */

.MainPages__ScrollMouse {
  position: absolute;
  box-sizing: border-box;
  bottom: 7%;
  height: 10%;
  left: 48%;
}

@media screen and (max-width: 767px) {
  .MainPages__welcomePointText {
    font-size: 4.3vmax;
    top: 13%;
    animation: appearTitleM 3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }

  .MainPages__welcomePointSubText {
    font-size: 2.2vmax;
    top: 20%;
    animation: appearTitleM 3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }

  .MainPages__ScrollMouse {
    left: 40%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .MainPages__welcomePointText {
    top: 10%;
    font-size: 5.3vmax;
  }
  .MainPages__welcomePointSubText {
    top: 12%;
    font-size: 2.7vmax;
  }
}
