.MainPages__welcomePoint {
  background-image: url("../../TestPic/WelcomePoint.gif");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 1000px;
  position: relative;
}

.MainPages__welcomePointText {
  color: white;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 350px;
}

.scroll__tracker {
  border: 1px solid red;
  width: 600px;
  height: 100px;
  overflow: scroll;
}

.LinkedDetail {
  color: white;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 430px;
}
