.navs {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-sizing: content-box;
  width: 100%;
  border-bottom: 2px solid #ece9e5;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.nav__main {
  display: grid;
  grid-template-columns: 400px 1fr 10px;
  margin-top: 15px;
}

.nav__hamburgerBtn {
  display: flex;
}

.nav__logInBtn {
  font-size: x-large;
  font-weight: 800;
  margin-left: 10px;
}

.nav__signUpBtn {
  font-size: x-large;
  font-weight: 800;
  margin-left: 10px;
}

.nav__myPageBtn {
  font-size: x-large;
  font-weight: 800;
  margin-left: 10px;
}

.nav__signInBtn {
  font-size: x-large;
  font-weight: 800;
  margin-left: 10px;
}

.nav__writePageBtn {
  font-size: x-large;
  font-weight: 800;
  margin-left: 10px;
}

.nav__logoBtn {
  font-size: x-large;
  font-weight: 800;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.nav__scrollYearContainer {
  display: flex;
  justify-content: center;
}

.nav__scrollTrackerContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  background-color: white;
  height: 60px;
  border-bottom-style: solid;
  border-bottom-color: rgb(148, 35, 0);
}

.nav__hamburgerBtn1 {
  display: block;
}

@media screen and (max-width: 768px) {

  .nav__hamburgerBtn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 62px;
    height: 62px;
    background-image: url(../images/Hamburger_icon.png);
    background-size: 62px 62px;
  }

  .nav__hamburgerBtn:hover, .nav__hamburgerBtn:active {
    background-color: #8bb15a;
    cursor: pointer;
  }  

  .nav__hamburgerBtn1 {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
    width: 160px;
    height: 40px;
    border: 2px solid black;
    display: none;
  }

  .nav__hamburgerBtn2 {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border: 2px solid black;
  }  

  .nav__hamburgerBtn1:hover {
    background-color: white;
  }  

  .nav__hamburgerBtn2:hover {
    background-color: white;
  }
}

