.scroll-tracker {
  position: fixed;
  top: 78px;
  width: 100%;
  height: 38px;
  z-index: 9;
}

.scroll-tracker__gauge {
  position: absolute;
  height: 100%;
  width: 500px;
}

.scrollTracker__first_1 {
  position: absolute;
}

.scrollTracker__first_2 {
  position: absolute;
  display: none;
}

.scrollTracker__second_1 {
  position: absolute;
  display: none;
}

.scrollTracker__second_2 {
  position: absolute;
}
