.scroll-tracker {
  position: fixed;
  top: 10vh;
  width: 100%;
  z-index: 9;
}

.scroll-tracker__gauge {
  position: absolute;
  width: 500vh;
}

.scrollTracker__first_1 {
  position: absolute;
  width: 4vh;
  top: -5vh;
}

.scrollTracker__first_2 {
  display: none;
}

.scrollTracker__second_1 {
  display: none;
}

.scrollTracker__second_2 {
  position: absolute;
  width: 4vh;
  top: -5vh;
  transition-property: left;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.scrollTracker__human5 {
  position: absolute;
  width: 4vh;
  top: -5vh;
  left: -7.5%;
  transition-property: left;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.scrollTracker__deskContainer {
  position: absolute;
  width: 40vh;
  height: 100%;
  left: 98%;
}

.scrollTracker__desk {
  position: absolute;
  width: 4vh;
  top: -5vh;
}