.signIn__navBtn {
  margin-left: 2vh;
  cursor: pointer;
  font-size: 3vh;
  font-weight: 800;
}

.signIns {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 10vh;
  left: 0%;
  z-index: 100;
}

.signIn__modal {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  border: 1px solid #dbdbdb;
  width: 350px;
  height: 540px;
  background-color: #ffffff;
  border-radius: 15px;
}

.signIn__title {
  font-weight: 600;
  font-size: 30px;
  margin: 30px 0px;
  color: black;
}

.signIn__emailInput {
  margin-bottom: 10px;
  width: 65%;
  height: 31px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.signIn__passwordInput {
  margin-bottom: 20px;
  width: 65%;
  height: 31px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.signIn__social{
  width: 100%;
  height: 20%;
  display:flex;  
  align-items: center;
  justify-content: space-around;
}

.signIn__gitHub{
  position: relative;
  left: 15%;
  width: 50px;
  height: 50px;
  background-image: url(../images/Github_icon.png);
  background-size: 130%;
  background-position: center;
  border-radius: 50%;
}

.signIn__kakao{
  position: relative;
  right: 15%;
  width: 50px;
  height: 50px;
  background-image: url('../images/kakaotalk_icon.png');
  background-size: cover;
  background-position: center;
  border-radius: 50%; 
}

.signIn__btn {
  width: 55%;
  height: 31px;
  background-color: #ffdd93;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  margin-bottom: 5px;
}

.signIn__closeBtn {
  width: 55%;
  height: 31px;
  background-color: #ffdd93;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  margin-bottom: 5px;
}

.signIn__btn:hover {
  cursor: pointer;
  color: #ffdd93;;
  background-color: black;
}

.signIn__closeBtn:hover {
  cursor: pointer;
  color: #ffdd93;;
  background-color: black;
}

.signIn__modalLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 500vw;
  height: 500vh;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  transform: translate(-30%, -40%);
  z-index: -1;
}

.signIn__errMessage {
  color: rgb(230, 0, 0);
}

@media screen and (max-width: 768px) {
  .signIns {
    top: 6vh;
  }
}