* {
  box-sizing: border-box;
}

.WritePages {
  bottom: 0;
  background-color: white;
  height: 420px;
  width: 1100px;
  border-bottom: 6px dotted rgb(165, 160, 160);
  border-top: 6px dotted rgb(165, 160, 160);
}
.submitArea__inventionArea {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: white;
  margin-left: 18px;
}
.inventionArea__pic {
  position: absolute;
  height: 278px;
  width: 360px;
  border: 4px solid white;
  border-radius: 20px;
  left: 13px;
  top: 58px;
}

.inventionArea__fileSearch {
  position: absolute;
  left: 420px;
  top: 69px;
}
.inventionArea__fileSearch label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: rgb(88, 88, 88);
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #b9763f;
  border-radius: 0.25em;
}
.inventionArea__fileSearch input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.submitArea__writingArea {
  position: absolute;
  width: 600px;
  height: 165px;
  background-color: white;
  display: block;
  left: 420px;
  top: 128px;
}

.writingArea__btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: rgb(88, 88, 88);
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #b9763f;
  border-radius: 0.25em;
}

.writingArea__title {
  margin-bottom: 20px;
}
.title__inputBox {
  width: 600px;
  height: 40px;
}
.writingArea__text {
  margin-bottom: 33px;
}
.text__inputBox {
  width: 600px;
  height: 40px;
}

.WritePages__error {
  position: relative;
  left: 191px;
  top: 30px;
  color: tomato;
  text-shadow: 0px 0px 2px rgb(133, 97, 97);
  font-weight: 600;
  font-size: 27px;
  font-family: "Stylish", sans-serif;
}

/* 이하는 비 로그인 시에 글쓰기 시도하면 나타나는 모달창 */
.WritePages__getOutModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.WritePages__getOutContents {
  background: linear-gradient(to top, rgb(233, 222, 201), rgb(170, 170, 170));
  margin: 20% auto;
  padding: 20px;
  border: 3px solid rgb(179, 172, 176);
  width: 20%;
  border-radius: 10px;
}

.WritePages__getOutContents__Massage {
  font-weight: 800;
  font-size: 20px;
  color: #464544;
  width: 70%;
}

.WritePages__getOutContents__Pic {
  width: 50%;
}
